<div class="row justifiy-conten-center">

	<div class="products-wrap">
				<aside id="sidebar">
					<div class="widget">
						<h3>Recherche:</h3>
						<fieldset>
							<h6>Type de Bijoux:</h6>
							<div *ngFor="let categorie of categories">
								<input type="radio" name ="categorie" value={{categorie}}>
								<label>{{categorie}}</label>
        					</div>
						</fieldset>
						<fieldset>
							<h6>Materiau:</h6>
							
								<input type="radio" name ="materiau" value="or"><label>or</label>
								<input type="radio" name ="materiau" value="argent"><label>argent</label>
								<input type="radio" name ="materiau" value="diamant"><label>diamant</label>
								
						</fieldset>

						<fieldset>
							<h6>Prix Maximum:</h6>
									<input type="number" min="0" step="10" name ="PrixMax">
								
						</fieldset>

						<input type="submit" value="Rechercher">

					</div>
				</aside>
	</div>

    <div class="card-body">
        <div *ngFor="let produit of produits" class="card">
            <div class="card-text mx-auto"> {{produit['nom']}} ({{produit['categorie']}})
                Prix : {{produit['prix']}} €
            	<div *ngIf="(user|async)">  <a (click)="onAddToCart(produit)" class="btn btn-success text-light btn-add-cart">Achete!</a>
        		</div>
    		</div>
		</div>
	</div>
</div>