
	<div class="products-wrap">
		<form (ngSubmit)="onSubmit()" #rechercheForm="ngForm">
				<aside id="sidebar">
					<div class="widget">
						<h3>Recherche:</h3>
						<fieldset>
							<h6 class="imputSearch">Type de Bijoux:</h6>
							<div *ngFor="let categorie of categories">
								<input type="radio" name ="categorie" value={{categorie}} required cheked [(ngModel)]="Precherche['categorie']">
								<label>{{categorie}}</label>
        					</div>
						</fieldset>
					</div>
					<div class="widget">
						<fieldset>
						<h6 class="imputSearch">Materiau:</h6>
							<div *ngFor="let materiau of materiaux">
								<input type="radio" name ="materiau" value={{materiau}} required [(ngModel)]="Precherche['materiau']">
								<label>{{materiau}}</label>
        					</div>

						</fieldset>
					</div>
					<div class="widget">
						<fieldset>
							<h6 class="imputSearch">Prix Maximum:</h6>
									<input type="number" min="0" step="10" name ="prix2" [(ngModel)]="Precherche['prix2']">								
						</fieldset>
						<input type="submit" value="Rechercher" style = "margin : 10%">
					</div>
				</aside>
		</form>
	</div>

				<div id="content">
					<section class="products">
						<div *ngFor="let produit of produits">
							<article>
								<a routerLink="/produit/{{produit['ref']}}"><img src="../../../assets/{{produit['ref']}}.jpg" alt="" style="width: 80%"></a>
								<h3><a href="product.html">{{produit['nom']}}</a></h3>
								<h4><a href="product.html">{{produit['prix']}} €</a></h4>
								<a routerLink="/produit/{{produit['ref']}}" class="btn-add"><b>Details</b></a>
						</article>
						</div>
					</section>
				</div>

<!--
	<div id="content">
					<section class="products">
        					<div *ngFor="let produit of produits">
        						<article>
        							<a class="card-text mx-auto" routerLink="/produit">{{produit['nom']}}</a>
            						<div class="card-text mx-auto">
            							<img src="../../../assets/{{produit['ref']}}.jpg"/>
										<h4>Prix : {{produit['prix']}} €</h4>
										{{produit['description']}}
										<br> <br>
										<div style = "border :1px">
										Matériaux :
										<div *ngFor="let m of produit['materiaux']">
											{{m}}
										</div>
										</div>
            							<div *ngIf="(user|async)">  <a (click)="onAddToCart(produit['ref'])" class="btn-add">Ajouter au panier</a>
        								</div>
    								</div>
    							</article>
							</div>
					</section>
	</div>--> 